APP_NAME=
APP_ENV=dev
APP_SECRET=
DEFAULT_URI=http://localhost
APP_VERSION=3.0.0

DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=docker

ADMIN_USER=admin@my-app.com
ADMIN_PASSWORD=noodlepot

MAILER_DSN=smtp://mailcatcher:1025
MAIL_FROM_NAME=
MAIL_FROM_ADDRESS=info@my-app.com

OAUTH_GITHUB_CLIENT_ID=
OAUTH_GITHUB_CLIENT_SECRET=
OAUTH_GOOGLE_CLIENT_ID=
OAUTH_GOOGLE_CLIENT_SECRET=

FONTAWESOME_KIT_ID=

VITE_SERVER_PORT=3000
VITE_LOCAL_PORT=3000
USE_HMR=false