APP_NAME=
APP_ENV=dev
APP_SECRET=
DEFAULT_URI=http://localhost

DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=docker

MAILER_DSN=smtp://mailcatcher:1025
MAIL_FROM_NAME=
MAIL_FROM_ADDRESS=info@my-app.com

FONTAWESOME_KIT_ID=

VITE_SERVER_PORT=3000
VITE_LOCAL_PORT=3000
USE_HMR=false