{extends '../../_core/layouts/@core.layout.latte'}

{block content}
    {include 'error.latte',
        heading: 'Error 404: Page Not Found',
        text: 'The page you are looking for cannot be found.'}
{/block}