@use 'tailwindcss';

@theme {
  --color-page: var(--color-gray-900);
  --color-light-text: var(--color-gray-300);
  --color-dark-text: var(--color-gray-800);
  --color-primary: var(--color-orange-300);
  --color-accent: var(--color-orange-700);

  --color-message-success: var(--color-emerald-600);
  --color-message-error: var(--color-red-400);
  --color-message-info: var(--color-blue-500);
  --color-message-warning: var(--color-amber-500);
}

::selection {
  color: var(--color-accent);
  background: var(--color-primary);
}