@use 'tailwindcss';

@theme {
  --color-primary: var(--color-green-200);
  --color-accent: var(--color-green-400);

  --color-page: var(--color-gray-900);
  --color-light-text: var(--color-gray-300);
  --color-dark-text: var(--color-gray-800);

  --color-message-success: var(--color-emerald-600);
  --color-message-error: var(--color-red-400);
  --color-message-info: var(--color-blue-500);
  --color-message-warning: var(--color-amber-500);
}

::selection {
  color: var(--color-accent);
  background: var(--color-primary);
}

.nav-link {
  @apply flex items-center gap-3 px-4 py-3 rounded-lg text-gray-400 hover:bg-gray-800 hover:text-white transition-all;

  &.active-nav {
    @apply bg-primary/10 text-primary;
  }
}