{varType array $_ENV}

<!DOCTYPE html>
<html lang="en">
    {include '../../Core/Components/head.latte'}
    <body class="bg-page text-light-text">
        {include '../../Core/Components/flash-messages.latte'}

        {block content}{/block}

        {if $_ENV['USE_HMR'] !== 'true'}
            {asset 'app.js'}
        {/if}
    </body>
</html>