{varType array $_ENV}

<!DOCTYPE html>
<html lang="en">
    {include '../../Core/Components/Theme/head.latte'}
    <body class="bg-page text-light-text h-screen w-screen flex items-center justify-center overflow-hidden">
        {include '../../Core/Components/flash-messages.latte'}
        <ReturnToHomepage />

        {block content}{/block}

        {if $_ENV['USE_HMR'] !== 'true'}
            {asset 'app.js'}
        {/if}
    </body>
</html>